@model PhotoApplication.Models.Photo

@{
    ViewBag.Title = "Show";
}

<h1>Show photo</h1>


<div class="panel panel-default">

    <asp:Image id="Image1" runat="server"
               AlternateText="@Model.Image"
               ImageAlign="left"
               ImageUrl="@Model.Image" />

    <img src="/Images/@Model.Image" alt="image" width="30%">

    @if (ViewBag.displayButtons == true && Model.UserId == ViewBag.currentUser
        || ViewBag.isAdmin)
    {

        <div class="panel-footer article-panel-footer">
            <a class="btn btn-primary" href="/Photo/Edit/@Model.Id">Edit photo</a>

            @if (ViewBag.displayButtons == true && Model.UserId == ViewBag.currentUser
            || ViewBag.isAdmin)
            {

                using (Html.BeginForm(actionName: "Delete", controllerName: "Photo", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
                {

                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger" type="submit">Delete Photo</button>

                }
            }
        </div>
    }
</div>
