
@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (var category in ViewBag.Categories)
{
    @Html.Label("CategoryName", "Denumire categorie")
    <p>@category.CategoryName</p>
    <a class="btn btn-success" href="/Category/Show/@category.CategoryId">Afisare categorie</a>
    <a class="btn btn-success" href="/Category/Edit/@category.CategoryId">Editare categorie</a>
    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-info" href="/Category/New">Adauga o noua categorie</a>
<br />

