
@{
    ViewBag.Title = "Category List";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}
<br />
@foreach (var category in ViewBag.Categories)
{
    
    <a class="btn btn-success" href="/Category/Show/@category.CategoryId">@category.CategoryName</a>
    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-info" href="/Category/New">Add a new category</a>
<br />

