@model PhotoApplication.Models.Album

<div class="panel-heading article-heading">
    <span class="font-roboto article-title">@Model.AlbumName</span>
</div>

<div class="article-meta">
    
    <div>
        <i class="glyphicon glyphicon-user"></i>
        <strong> @Model.User.UserName </strong>
    </div>
</div>


