@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Picture Application</h1>
    <p class="lead">Picture Application is a new website dedicated to photography lovers</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register to try our user-only features
        </p>
        <p class="btn btn-default">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
    </div>
    <div class="col-md-4">
        <h2>Browse by category</h2>
        <p>Find your favorites using our search tool</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit your photos</h2>
        <p>our application user PicTureEditor, for </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>